  /* You can add global styles to this file, and also import other style files */

  /* Application-wide Styles */

  body {
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
  }

  .fadein {
    animation: fadein 1s ease alternate;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* everywhere else */

  * {
    font-family: Arial, Helvetica, sans-serif;
  }