  /* You can add global styles to this file, and also import other style files */

  /* Application-wide Styles */

  h1 {
    color: #33FF00;
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

  h2, h3 {
    color: #444;
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  body {
    background-color: rgba(0, 0, 0, 0.85);
    margin: 2em;
  }

  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }

  a:hover {
    color: #33FF00;
  }

  .pulse {
    animation: pulse 8s ease alternate infinite, fadein 8s ease alternate;
  }

  @keyframes fadein {
    0% { opacity: 0;}
    75% { opacity: 0;}
    100%   { opacity: 1;}
}

  @keyframes pulse {
    0% {
      transform: translate(.02em,.04em) scale(1.02) skew(-2deg) rotate(2deg);
      text-shadow:
      0 .3em .2em rgba(0,0,0,.3), 4px 8px 40px rgba(0, 255, 0, 1.0), 2px 2px 18px rgba(33, 255, 0, 0.9);
    }
    50% {
      text-shadow:
      0 .5em .5em rgba(0,0,0,.3), -10px 2px 50px rgba(33, 255, 0, 0.95), 2px 2px 16px rgba(0, 255, 0, .85);
    }
    100% {
      transform: translate(-.02em,-.04em) scale(0.98) skew(2deg) rotate(-2deg);
      text-shadow:     0 .5em .5em rgba(0,0,0,.3), 6px -2px 40px rgba(11, 255, 0, 0.9), 2px 2px 14px rgba(11, 255, 0, .8);
    }
  }

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }